:root {
    --color1: #202140;
    --color2: #35648C;
    --color3: #F2EA7E;
    --color4: #F2B263;
    --color5: #F28963;

    --alt1: #3D5A80;
    --alt2: #98C1D9;
    --alt3: #E0FBFC;
    --alt4: #EE6C4D;
    --alt5: #293241;
    
    --bg-primary: var(--alt3);
    --bg-secondary: var(--color4);
    --bg-tertiary: var(--color5);

    --txt-dark: var(--color1);
    --txt-light: #ddd;

    --wee: 500px;
    --mid: 900px;
    --big: 1200px;
}

body {
    background-color: var(--bg-primary);
    color: var(--txt-dark);
    font-family: 'Poppins', sans-serif;
}

a { text-decoration: none; }
/* ul { list-style-type: none; }
ul li { display: inline; } */

svg {
    max-width: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.page-title {
    margin: 20px;
    text-align: center;
}

/*** COMPONENTS ***/
.btn {
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 15px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

.btn:hover {
    background-color: var(--color2);
}

/*** COMPONENTS END ***/

/*** NAVIGATION ***/
header {
    background-color: var(--color1);
    overflow-x: hidden;
}

.nav-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    z-index: 999;

    padding: 5px;
    margin: 0 auto;
}

.nav-icon {
    /* grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6; */
    display: none;
}

.nav-logo {
    grid-column-start: 1;
    grid-column-end: 13;
}

.nav-bar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 13;

    padding: 5px 0 0 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: var(--color1);
}

.nav-link {
    grid-column: span 1;
    grid-row: span 1;

    padding: 0 10px;
    border-bottom: 10px solid var(--color1);
}

.nav-link a {
    color: var(--txt-light);
    display: block;
}

.nav-link:hover {
    border-bottom: 10px solid var(--alt4);
    font-style: italic;
}

@media only screen and (min-width: 400px) {
    .nav-wrapper {
        grid-template-rows: 2fr 1fr;
    }
}

@media only screen and (min-width: 600px) {
    .nav-wrapper {
        grid-template-rows: 2fr 1fr;

        padding: 10px;
    }

    .nav-icon {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        display: block;
    }

    .nav-logo {
        grid-column-start: 4;
        grid-column-end: 13;
    }

    .nav-bar {
        grid-row-start: 2;
        grid-column-start: 5;
        grid-column-end: 13;
    }
}

@media only screen and (min-width: 800px)
{
    .nav-wrapper {
        max-width: 800px;
    }
}

/*** LOGOS ***/
.logo-screen {
    fill: var(--alt2);
}

.logo-qmark {
    fill: var(--color5);
    stroke: var(--color1);
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.logo-txt-dinnaeken {
    fill: var(--alt2);
    /* stroke: var(--alt4);
    stroke-miterlimit: 10; */
    filter:url(#extra-glow);
}

.logo-txt-design {
    fill: var(--alt4);
    filter:url(#glow);
}

.games-gamepad {
    stroke: #fff;
    stroke-width: 4px;
}

.games-logo-screen {
    fill: var(--alt2);
}

.logo-txt-games {
    fill:var(--alt4);
    filter: url(#glow);
    /* display: none; */
}

.logo-gamepad {
    fill:var(--alt2);
}

.logo-games-qmark {
    fill: var(--color5);
    stroke: var(--color1);
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
/*** LOGOS END ***/

/*** NEON GRID ***/
.grid-container { width: 100%; position: relative; bottom: 0; left: 0; }

.grid-container:after { 
  
    transform: perspective(200px) rotateX(40deg) scale(2,1) translateZ(0);
    content: ""; display: block; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 100vh;
    padding: 1px; 
    -webkit-background-clip: content-box; 
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;
    transform-origin: bottom center;
    will-change: transform; 
}

.grid-container:after {
  background-position: center bottom;
  background-size: 40px 40px;
  background-image: 
  linear-gradient(to right, var(--color5) 1px, transparent 0), 
  linear-gradient(to bottom, var(--color5) 3px, transparent 0);
}

.grid-container:after { 
    -webkit-mask-image: linear-gradient(to bottom, transparent 70%, black 100%);
    mask-image: linear-gradient(to bottom, transparent 70%, black 100%);
}
/***NEON GRID END ***/
/*** NAVIGATION END ***/

.main-content {
    margin: 0 auto;
    padding: 0 10%;
}

@media only screen and (max-width: 900px) {
    .main-content{
        padding: 0 5%;
    }
}

/*** FOOTER ***/
.footer {
    background-color: var(--color1);

    margin: 40px 0 0 0;
    padding: 20px;
    color: #fff;
}

.footer-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;

}

.footer-wrapper > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 320px;
}

.fab {
    font-size: 1.7em;
}

.footer a {
    color: var(--txt-light);
}

.footer a:hover {
    color: var(--color5);
}

/*** FOOTER END ***/

/*** INDEX ***/
#home-wrapper {
    display: grid;        
}

.hero {
    background-color: var(--bg-secondary);

    display: grid;
    grid-area: "hero";
    margin-top: 20px;
}

.services-list {
    padding: 20px 0;

    display: grid;
    grid-area: "services";
    grid-template-rows: 1;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
}

.services-item {
    background-color: var(--bg-tertiary);

    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-item.design {
    grid-column-start: 2;
}

.services i {
    font-size: 2em;
}
/*** INDEX END ***/

/*** GALLERY ***/
.gallery {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

    margin: 20px 0;
}

.gallery-item {
    background: var(--color4);
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}

.gallery-item img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.gallery-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.gallery-item.large {
    grid-row: span 3;
    grid-column: span 3;
}

.gallery-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.gallery-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

.gallery-item .gallery-item-info {
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
    text-align: center;
    opacity: 0;
}

.gallery-item:hover img {
    opacity: 0.3;
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
}

.gallery-item-info h2 {
    font-size: 1.5em;
}

.gallery-item-info h3 {
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    .gallery-item.small {
        grid-row: span 1;
        grid-column: span 5;
    }
    
    .gallery-item.medium {
        grid-row: span 1;
        grid-column: span 5;
    }
    
    .gallery-item.large {
        grid-row: span 1;
        grid-column: span 5;
    }
    
    .gallery-item.tall {
        grid-row: span 1;
        grid-column: span 5;
    }
    
    .gallery-item.wide {
        grid-row: span 1;
        grid-column: span 5;
    }
}

/*** GALLERY END ***/

/*** CONTACTS ***/
.contact-wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.contact-wrapper h1 {
    text-align: center;
    padding: 0 0 20px 0;
}

.contact {
    grid-column: span 4;
}

.twitter {
    grid-column: span 4;
}

.facebook {
    grid-column: span 4;
    justify-self: center;
}

.contact-links li{
    display: block;
    margin: 20px;
}

.btn-contact {
    color: #fff;
    display: block;
}

@media only screen and (max-width: 1300px) {
    .contact-wrapper {
        grid-template-rows: 1fr 2fr;
    }

    .contact {
        grid-column-start: 3;
        grid-column-end: 11;
        justify-self: center;
        text-align: center;
    }

    .facebook, .twitter {
        grid-row-start: 2;
        grid-column: span 6;
    }
}

@media only screen and (max-width: 750px) {
    .contact-wrapper {
        grid-template-rows: 1fr 2fr 2fr;
    }

    .contact, .facebook, .twitter {
        justify-self: center;
        text-align: center;
        grid-column: span 12;
    }

    .facebook {
        grid-row-start: 2;
    }

    .twitter {
        grid-row-start: 3;
    }
}

@media only screen and (max-width: 500px) {
    .contact-wrapper {
        grid-template-rows: 1fr;
    }

    .facebook, .twitter {
        display: none;
    }
}
/*** CONTACTS END ***/



/*** PRODUCTS ***/

.product-container {
  width: 100%;
  height: 400px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--color5);
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.product-container img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
}

.product-overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: var(--color3);
  color: var(--color1);
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
}

.product {
  padding-left: 20px;
  letter-spacing: 3px;
}

.product-header {
    margin: 10px 0 0 0;
}

.product-title {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}

.product-title hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px var(--color1);
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: all 0.5s;
}

.product-list {
  font-size: 1.2em;
  line-height: 1;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  letter-spacing: 1;
  margin: 0 0 0 10px;
  list-style-type: disc;
}

.product-footer {
  font-size: 1em;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  position: absolute;
  bottom: 10px;
}

.product-footer span {
  margin-left: 10px;
}

.product-container:hover .product-overlay {
  opacity: 0.9;
}
.product-container:hover .product-overlay .product-title {
  transform: translateY(0px);
}
.product-container:hover .product-overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}
.product-container:hover .product-overlay .product-list {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.product-container:hover .product-overlay .product-footer {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}

/*** PRODUCTS END ***/

/*** 3D HOME ***/
.animation-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 800px) {
    .animation-products {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .animation-products > .first-product {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 600px) {
    .animation-products {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .animation-products > .first-product {
        grid-column: span 1;
    }
}
/*** 3D HOME END ***/

/*** GAME DEV HOME ***/
.gamedev-products {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.gamedev-products > .first-product {
    grid-column: span 2;
}


@media only screen and (max-width: 800px) {
    .gamedev-products {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .gamedev-products {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .gamedev-products > .first-product {
        grid-column: span 1;
    }
}
/*** GAME DEV END ***/

/*** DESIGN HOME ***/
.design-products {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.design-info {
    font-size: 1.2em;
}

.design-info,
.design-darkness,
.design-nordic-tall,
.design-smoke,
.design-death,
.design-halifax {
    grid-column: span 4;
    grid-row: span 1;
}

.design-swatch {
    grid-column: span 6;
    grid-row: span 1;
}

.design-nordic-wide {
    grid-column: span 6;
    grid-row: span 1;
}

@media only screen and (max-width: 1100px) {
    .design-products > .product-container {
        height: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .design-info,
    .design-darkness,
    .design-nordic-tall,
    .design-smoke,
    .design-death,
    .design-halifax {
        grid-column: span 6;
        grid-row: span 1;
    }
}

@media only screen and (max-width: 600px) {
    .design-products {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
}
/*** DESIGN HOME END ***/

/*** MODAL IMAGES ***/
/*** Adapted from w3schools js lightbox ***/
/*** https://www.w3schools.com/howto/howto_js_lightbox.asp ***/

  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color1);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: var(--color1);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-slide {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: var(--color1);
    padding: 2px 16px;
    color: white;
    margin: 10px 0;
  }
  
  .slide {
    opacity: 0.6;
  }
  
  .active,
  .slide:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .column > img {
    height: 100%;
    object-fit: cover;
  }

  .modal-slide {
    justify-content: center;
    background-color: var(--color1);
  }

  .modal-slide > img {
    width: 50%;
    max-height: 80vh;
    object-fit: cover;
  }

  @media only screen and (max-width: 700px) {
      .modal-slide > img {
        width: 100%;
      }
  }

  .columns {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 100px;
      grid-gap: 5px;
      justify-content: space-around;
      margin: 10px;
  }

  /*** MODAL IMAGES END ***/

/*** SHOWCASE ***/
.showcase {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(4, 300px); */
    grid-gap: 20px;
}

.showcase img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.showcase-hero {
    grid-column: span 12;
    grid-row: span 1;
    justify-self: center;

    background-color: var(--color4);
}

.showcase-text {
    grid-column: span 4;
    grid-row: span 2;

    font-size: 1.2em;
}

.showcase-text > hr {
    color: var(--color1);
}

.showcase-text h3 {
    text-align: center;
}

.showcase-img {
    grid-column: span 4;
    grid-row: span 1;

    background-color: var(--color5);
}

.showcase-video {
    margin: auto;
}

.showcase-youtube {
    grid-column: span 12;
    justify-self: center;
    background-color: var(--color2);
}

.showcase-list {
    display: block;
    list-style: disc outside none;
    margin: 0 10px;
}

.showcase-tools {
    text-align: center;
    align-self: center;
}

.youtube-desktop {
    display: block;
}

.youtube-mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    .showcase {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* grid-template-rows: repeat(4, 300px); */
        grid-gap: 20px;
    }

    .showcase-text,
    .showcase-img {
        grid-column: span 6;
    }
}

@media only screen and (max-width: 600px) {
    .showcase {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* grid-template-rows: repeat(4, 300px); */
        grid-gap: 20px;
    }

    .showcase-text,
    .showcase-img {
        grid-column: span 12;
    }

    .youtube-desktop {
        display: none;
    }

    .youtube-mobile {
        display: block;
    }
}
/*** SHOWCASE END ***/

/*** SOCIAL MENACE ***/
.socialmenace-img,
.socialmenace-text {
    grid-column: span 6;
}

@media only screen and (max-width: 600px) {
    .socialmenace-text {
        grid-column: span 12;
        grid-row-start: 2;
    }

    .socialmenace-img {
        grid-column: span 12;
    }
}

/*** SOCIAL MENACE END ***/

/*** ABOUT US ***/
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.about-heading {
    font-size: 1.75em;
}

.about-intro {
    grid-column: span 12;
}

.about-chunk {
    grid-column: span 4;
}

.about-me {
    grid-column: span 6;
}

.profile-pic {
    grid-column: span 6;
}

.profile-pic img  {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: rotate(180deg);
    border-radius: 50%;
}

.profile-pic > figcaption {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .about-intro,
    .about-chunk,
    .about-me,
    .profile-pic {
        grid-column: span 6;
    }
}

@media only screen and (max-width: 600px) {
    .about-intro,
    .about-chunk,
    .about-me,
    .profile-pic {
        grid-column: span 12;
    }
}
/*** ABOUT US END ***/
