:root {
    --color1: #202140;
    --color2: #35648C;
    --color3: #F2EA7E;
    --color4: #F2B263;
    --color5: #F28963;

    --alt1: #3D5A80;
    --alt2: #98C1D9;
    --alt3: #E0FBFC;
    --alt4: #EE6C4D;
    --alt5: #293241;
    
    --bg-primary: var(--color3);
    --bg-secondary: var(--color4);
    --bg-tertiary: var(--color5);

    --txt-dark: var(--color1);
    --txt-light: #ddd;
}

body {
    background-color: var(--bg-primary);
    color: var(--txt-dark);
    font-family: 'Poppins', sans-serif;
}

a { text-decoration: none; }
ul { list-style-type: none; }
ul li { display: inline; }

/*** LOGO ***/
.logo {
    height: 100px;
    width: auto;
    margin: 10px;
}

.logo-screen {
    fill: var(--alt2);
}

.logo-qmark {
    fill: var(--color5);
    stroke: var(--color1);
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.logo-txt-dinnaeken {
    fill: var(--alt2);
    stroke: var(--alt4);
    stroke-miterlimit: 10;
}

.logo-txt-design {
    fill: var(--alt4);
}
/*** LOGO END ***/

/*** NAVIGATION ***/
.nav-bar {
    background-color: var(--color1);

    display: flex;
    justify-content: center;
}

.nav-bar a {
    color: var(--txt-light);
}
/*** NAVIGATION END ***/

.main-content {
    margin: 0 auto;
    padding: 0 10%;
}

/*** FOOTER ***/
.footer {
    background-color: var(--color2);

    display: flex;
    justify-content: center;
}

.footer a {
    color: var(--txt-light);
}

/*** FOOTER END ***/

/*** INDEX ***/
#home-wrapper {
    display: grid;
    grid-template-areas:
        "hero"
        "services";        
}

.hero {
    background-color: var(--bg-secondary);

    display: grid;
    grid-area: "hero";
}

.services {
    background-color: var(--bg-tertiary);

    display: grid;
    grid-area: "services";
    grid-template-columns: repeat(4, auto);

}

.services ul li {
    display: inline;
}

.services i {
    font-size: 2em;
}
/*** INDEX END ***/

